*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
  border-radius: 5px;
}

h1{
  color:white;
}

h1 i{
  color: rgb(255, 255, 255);
}
.main-container {
  display: grid;
  text-align: center;
  height: 100vh;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: 1fr 11fr;
  grid-template-areas: 
  "sidebar topbar"
  "sidebar subcontainer"
}
.side-bar{
  background-color: rgb(56, 97, 230);
  width:150px;
  display: grid;
  grid-area: sidebar;
  font-size: 20px;
  font-weight: 700;
  
}
.top-bar{
  grid-area: topbar;
}
.sub-container{
  width:100%;
  grid-area: subcontainer;
}
.btns-container{
  background-color: rgb(111, 143, 247);
  color:white;
  font-weight: 500;
  font-size: 100px;
  display: grid;
  height:100%;
  justify-content: center;
  align-items: center;
}
.collapse-components{
  display: none;
}

.collapse-components-show{
  display: grid;
}

.collapse-utilities{
  display: none;
}

.collapse-utilities-show{
  display: grid;
}

.inner-side-bar{
  display: flex;
  flex-direction: column;
  height: 250px;
  row-gap: 50px;
}

.side-bar-content{
  background-color: rgb(218, 218, 218);
  border-radius: 7px;
  height: auto;
}
.notifications{
  background-color: rgb(111, 143, 247);
  color:white;
  padding:15px;
}
.padding{
  padding: 5px;
}
.top-bar{
  background-color: rgb(111, 143, 247);
  height: 80px;
}


